*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Fira sans", sans-serif;
}
body{
    /* background-color: #f8c9c9; */
    background-image: url("images.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
h5{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 25px;
}
.container{
    /* max-width: 100%; */
    display:grid;
    grid-template-columns: 1fr;
    gap:2em;
}

.registrationcontainer{
    font-weight: 800;
    justify-self: center;
    width:50%;
    height:auto;
    /* padding:1em; */
    display:grid;
    grid-template-columns: 1fr;
    gap:1em;
   
    font-size: 18px;
    background-color: transparent;
   
    background-blend-mode: soft-light,screen;
    border: 1px solid;
    padding: 12px;
    box-shadow: 9px 10px 8px black;
    border-radius: 12px;
    margin-left: 12px;
}

.registrationcontainer input{
    padding:0.5em;
    outline:none;
    font-weight: 700;
}
.submit{
    width:20%;
    padding:0.5em;
    color: black;
    font-weight: 500;
    justify-self: center;
    border-radius: 15px;
    margin-left: 19px;
    margin-right: 19px;
}
.Reset{
    width:20%;
    padding:0.4em;
    color: black;
    font-weight: 500;
    justify-self: center;
    border-radius: 15px;
    margin-right: 19px;
    margin-left: 19px;
}
.output{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap:0.7em;
    justify-items: left;
}
.addData{
    text-align: left;
    width:auto;
    height:auto;
    /* padding:1em; */
    background-color: rgb(202, 201, 197);
    border-radius: 16px;
   
    background-blend-mode: soft-light,screen;
    border: 1px solid;
    padding: 10px;
    box-shadow: transparent;
}
.output .addData img{
    width:150px;
    height:150px;
    
}
/*Responsiveness*/
@media all and (max-width:900px){
    .output{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:0.5em;
        justify-items: left;
        
    }

}
@media all and (max-width:400px){
    .container{
        padding:0.4em;
    }
    .registrationcontainer{
        padding:0.5em;
    }
    .output{
        display:grid;
        grid-template-columns: 1fr;
        gap:0.5em;
        justify-items: left;
    }
}